@import "variables";
@import "mixins";

.card {
  @include flexColumn;
  justify-content: $centerPosition;
  align-items: $centerPosition;
  width: $cardWidth;
  background: $mainLightColor;
  border: 1px solid #f3f3f3;
  padding: 15px 14px;
  font-family: $serviceFonts;
  @include defaultSizeWeight;
  color: $mainDefaultColor;
  box-sizing: border-box;

  &__img-container {
    border: 3px solid transparent;
    padding-top: 12px;
    transition: transform 1s;

    &:hover {
      border: 3px solid #f3f3f3;
      transform: scale(1.2);
    }
  }

  &__img {
    height: 134px;
    width: 160px;
  }

  &__description {
    @include flexColumn;
    padding-top: 22px;
  }

  &__title {
    @include defaultSizeWeight;
    line-height: 15px;
    padding-top: 17px;
  }

  &__code {
    @include smallSizeWeight;
    padding-top: 5px;
  }

  &__rating {
    @include flexBetween;
    align-items: center;
    padding: 13px 0 19px;
  }

  &__feedback {
    @include smallSizeWeight;
  }

  &__price {
    @include flexBetween;
    font-size: $smallFontSize;
    align-items: baseline;
    padding-bottom: 20px;
    font-weight: $largeFontWeight;

    &-text {
      @extend .card__feedback;
    }

    &-value {
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__button {
    background-color: #00acdc;
    border-radius: 5px;
    border: 1px solid #00acdc;
    text-align: $centerPosition;
    text-transform: uppercase;
    width: 170px;
    height: 40px;
    font-size: 14px;
    font-weight: $largeFontWeight;
    font-family: $serviceFonts;
    line-height: 40px;
    text-decoration: none;
    color: $mainLightColor;
    transition: all 0.5s;

    &:hover {
      background-color: $mainLightColor;
      color: $mainBlueColor;
    }
  }
}
